<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfmon Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="st()">Start Trace</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="im()">Increment Metric</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="stt()">Stop Trace</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
