<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crashlytics Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="crash()">Crash</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="nonFatal()">Non-Fatal</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="anr()">ANRs</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
