<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Analytics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="logEvent()">Log Custom Event</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="setUP()">Set User Property</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
